.product__prices {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -.03em;
    color: #FD8B8F !important;
}
.product__new-price {
    color: #FD8B8F;
}

.product__option-label{color: black;}