<app-page-header style="direction: rtl !important; text-align: right;" [header]="'الحساب'" [breadcrumbs]="[
    {label: 'الرئيسية',       url: '/'},
    {label: 'الحساب', url: ''}
]"></app-page-header>

<div class="block" style="direction: rtl !important; text-align: right;">
    <div class="container" >
        <div class="row">
            <div class="col-12 col-lg-3 d-flex" style="background-color: #F1F1F1;border-radius: 20px !important;">
                <div class="account-nav flex-grow-1" style="height: fit-content;">
                    <h4 class="account-nav__title" style="color: #10CFC9;">اهلا</h4>
                    <ul>
                        <li *ngFor="let link of links" style="padding: 10px;" class="account-nav__item"  routerLinkActive="account-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
                            
                            <a [routerLink]="link.url" > <i style="padding-left: 10px;" class="{{link.icon}}"></i>  {{ link.label }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-8 mt-4 mt-lg-0" >
                <div  style="background-color: #F1F1F1; border-radius: 20px;">
                    <router-outlet></router-outlet>
                </div>
            </div>
           
        </div>
    </div>
</div>
