@media (min-width: 900px) {
    #cirkelcontainer {
        width: 33.333%;
    }
}

/* here the rules for windows between 500px and 900px */
@media (min-width: 350px) and (max-width: 900px) {
    #cirkelcontainer {
        width: 50%;
    }
}


.ttt:hover img {
    opacity: 0.3 !important;
    cursor: pointer;
}

.ttt:hover .middle {
    opacity: 1;
    cursor: pointer;

}

.ttt {
    position: relative;
    width: 50%;
}

.ttt img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.scroll-row {

    width: 100%;
    /* Adjust width as needed */
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Ensure items stay in a single row */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: auto;
    justify-content: center !important;
    text-align: center;

}

::-webkit-scrollbar {
    height: 7px;
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.scroll-container {
    display: inline-flex;
    /* Ensure items are in a row */
    padding: 0px;
    /* Optional: Add padding around items */
}



.filter-categories__arrow {
    fill: white;
    position: absolute;
    // top: 10px;
    cursor: pointer;

}