<!-- <router-outlet></router-outlet> -->
<!-- <button (click)="PaymentUsingPalPay()">PaymentUsingPalPay</button> -->
<router-outlet></router-outlet>

<!-- 
<form method="post" name="paymentForm" id="paymentForm" class="d-none" *ngIf="palpayRedirectData"
    action="https://e-commerce.bop.ps/EcomPayment/RedirectAuthLink">
    <input type="hidden" name="Version" value="{{palpayRedirectData.Version}}"><br>
    <input type="hidden" name="MerID" value="{{palpayRedirectData.MerID}}"><br>
    <input type="hidden" name="AcqID" value="{{palpayRedirectData.AcqID}}"><br>
    <input type="hidden" name="MerRespURL" value="{{palpayRedirectData.MerRespURL}}"><br>
    <input type="hidden" name="PurchaseAmt" value="{{palpayRedirectData.PurchaseAmt}}"><br>
    <input type="hidden" name="PurchaseCurrency" value="{{palpayRedirectData.PurchaseCurrency}}"><br>
    <input type="hidden" name="PurchaseCurrencyExponent" value="{{palpayRedirectData.PurchaseCurrencyExponent}}"><br>
    <input type="hidden" name="OrderID" value="{{palpayRedirectData.OrderID}}"><br>
    <input type="hidden" name="CaptureFlag" value="{{palpayRedirectData.CaptureFlag}}"><br>
    <input type="hidden" name="Signature" value="{{palpayRedirectData.Signature}}"><br>
    <input type="hidden" name="SignatureMethod" value="{{palpayRedirectData.SignatureMethod}}">
</form> -->