<div class="container">
    <br><br>
    <div class="row" *ngIf="!showcodechecker && !showchangepassword">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div class="card-header">
                <h5>Email Address</h5>
            </div>
            <div class="card-divider"></div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password-current">Email Address</label>
                            <input type="email" class="form-control" id="password-current" placeholder="Email Address" [(ngModel)]='emailaddress'>
                        </div>
                        <!-- <div class="form-group">
                            <label for="password-current">User Name</label>
                            <input type="text" class="form-control" id="password-current2" placeholder="User Name" [(ngModel)]='UserName'>
                        </div> -->
                        <!-- || UserName.length==0 -->
                        <div class="form-group mt-5 mb-0">
                            <button class="btn btn-primary" (click)="sendCode()" [disabled]="emailaddress.length==0">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>

    <div class="row" *ngIf="showcodechecker && !showchangepassword">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div class="card-header">
                <h5>Enter Your Code PLS</h5>
            </div>
            <div class="card-divider"></div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password-current"> Enter Your Code</label>
                            <input type="email" class="form-control" id="password-current" placeholder="Code" [(ngModel)]='customerCode'>
                        </div>
                        <div class="form-group mt-5 mb-0">
                            <button class="btn btn-primary" (click)="checkCode()" [disabled]="customerCode.length==0">check</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>

    <div class="row" *ngIf="!showcodechecker && showchangepassword">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div class="card-header">
                <h5>New Password</h5>
            </div>
            <div class="card-divider"></div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password-new">New Password</label>
                            <input type="password" class="form-control" id="password-new" placeholder="New Password" [(ngModel)]='passwordnew'>
                        </div>
                        <div class="form-group">
                            <label for="password-confirm">Reenter New Password</label>
                            <input type="password" class="form-control" id="password-confirm" placeholder="Reenter New Password" [(ngModel)]='passwordconfirm'>
                        </div>
                        <div class="form-group mt-5 mb-0">
                            <button class="btn btn-primary" (click)="checkPasswordAndchange()" [disabled]="passwordnew.length==0 || passwordconfirm.length==0">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
    <!-- <div class="card col-md-6">
        <div class="card-header">
            <h5>Forgot Password</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-12 col-lg-7 col-xl-6">
                    <div class="form-group">
                        <label for="password-current">Current Password</label>
                        <input type="password" class="form-control" id="password-current" placeholder="Current Password">
                    </div>
                    <div class="form-group">
                        <label for="password-new">New Password</label>
                        <input type="password" class="form-control" id="password-new" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="password-confirm">Reenter New Password</label>
                        <input type="password" class="form-control" id="password-confirm" placeholder="Reenter New Password">
                    </div>
    
                    <div class="form-group mt-5 mb-0">
                        <button class="btn btn-primary">Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


</div>




