<div class="card" style="background-color: #F1F1F1;border-radius: 20px;">
    <div class="card-header">
        <h5 style="color: #10CFC9;">تغيير كلمة المرور</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="password-current">كلمة المرور الحالية</label>
                    <input type="password" class="form-control" id="password-current" placeholder="كلمة المرور الحالية">
                </div>
                <div class="form-group">
                    <label for="password-new">كلمة المرور الجديدة</label>
                    <input type="password" class="form-control" id="password-new" placeholder=" إدخال كلمة المرور الجديدة
                    ">
                </div>
                <div class="form-group">
                    <label for="password-confirm">إعادة إدخال كلمة المرور الجديدة
                    </label>
                    <input type="password" class="form-control" id="password-confirm" placeholder="إعادة إدخال كلمة المرور الجديدة
                    ">
                </div>

                <div class="form-group mt-5 mb-0">
                    <button class="btn btn-primary">تغيير</button>
                </div>
            </div>
        </div>
    </div>
</div>
